div {
  display: block;
  display: flex;
  justify-content: center;
}
.masthead {
  margin-bottom: 2rem;
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


.masthead-brand {
  margin-bottom: 0;
  font-family: 'Russo One', sans-serif;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
#yesnobuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#userinput{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  visibility: hidden;
}
#get_value{
  display: flex;
  flex-direction: row;
  justify-content:center;

}
#average{
  visibility: hidden;
  text-align: center;
  font-size: 20px;

}
/* Yes and No button options */
.yesno{

    color: #FFFFFF;
    background-color: #000000;
    /* font-size: 2vw; */
    font-size: 20px;
    /* height: 20px; */
    text-align: center;
    margin: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 30%;
    border-radius: 5px;
}

/* Book Title and bar */
h1 {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 5vw;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  width: 100%;
  font-family: "Courier New", monospace;
  border-radius: 25px;
/* Keeps the title as you scroll down the page
  position: sticky;
  top: 0px; */
}


body {
  background-color: #7C7C7C;
  /* background-color: #4e5868; */
  font-family: 'Ubuntu', sans-serif;

}

/* head {
  color: #4e5868;
} */

h2 {
text-align: center;
color: white;
}


p {
  color: #FFFFFF;
  text-align: center;


}

/* Book images */
.container img {
  border-radius: 12px;
  position:
  float: left;
  width:  300px;
  height: auto;

}

h3 .head {

  color: #FFFFFF;
  background-color: #000000;
  font-size: 30px;
  height: 100px;
  margin: 500px;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  width: 100%;
  font-family: monospace;

}

/* Author Style */
.author {
  color: white;
  text-align: center;
  font-size: 25px;
}

/* Go Back Button */
.goback{
  color: white;
  background-color: black;
  /* font-size: 2vw; */
  font-size: 15px;
  /* height: 20px; */
  text-align: center;
  margin: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
  border-radius: 5px;
}
