<html>
        <head>
        <link rel="stylesheet" type="text/css" href="css/book.css">
        <link href="https://fonts.googleapis.com/css?family=Orbitron|Russo+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        </head>
        <body>

              <br>
              <h1> {{ title }} </h1>
              <br>


              <center><img src="/img/{{ id }}.jpg" alt="{{ title }} Cover"></center>
              <br>
              <p> {{ author }} </p>
              <br>

              <div id="averageset">
              {% if averageSet %}

                <p>On average, it takes users <strong>{{ average }}</strong> minutes to read this book</p>

              {% endif %}
            </div>
              <div id="average">
                <p>On average, it takes users <strong>{{ average }}</strong> minutes to read this book</p>
              </div>
              <form id = "yesnobuttons">

                <p>Have you read this book before?</p>
                <input class="yesno" type="button" id="yes"name="yes" value="Yes">
                <input class="yesno" type="button" id="no"name="no" value="No">
              </form>

              <form id ="userinput" action = "/bookview?title={{ title }}" method = "post">

                <label for="time" >How long did it take you to read {{ title }}?</label> <br/>
                <div id = "get_value">
                  <input class="form-control" type="number" name = "time" placeholder="In minutes"/>
                  <input class="btn btn-primary" type="submit" value="Submit">
                </div>
                <br>
              </form>

              <input type="button" id="chart" name="chart" value="View Chart" onclick="drawChart({{ list }})">
              <div id="chart_div" style="width: 900px; height: 500px;"></div>
              <p><a class="goback" href = "/booklist">Go back</a></p>



              <footer class="mastfoot mt-auto">
                <div class="inner">
                  <p>readSmart&copy; Federick Gonzalez, Casey Mook, and Jaylen Patterson</p>

                </div>
              </footer>
              <script type="text/javascript">
              const yes = document.querySelector('#yes');
              const no = document.querySelector('#no');
              // const chart = document.querySelector("#chart");

              yes.addEventListener('click', () =>{
                console.log("i've been clicked")
                document.querySelector("#yesnobuttons").style.visibility = "hidden";
                document.querySelector("#userinput").style.visibility = "visible";
                document.querySelector("#average").style.visibility = "visible";

                document.querySelector("#averageset").style.visibility = "hidden";

              });
              no.addEventListener('click', () =>{
                console.log("i've been clicked")
                document.querySelector("#yesnobuttons").style.visibility = "hidden";
                document.querySelector("#userinput").style.visibility = "hidden";
                document.querySelector("#average").style.visibility = "visible";

                document.querySelector("#averageset").style.visibility = "hidden";
              });


              google.charts.load("current", {packages:["corechart"]});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart(list) {
                var data = google.visualization.arrayToDataTable(list);
                var options = {
                  title: 'Lengths of dinosaurs, in meters',
                  legend: { position: 'none' },
                };

                var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
                chart.draw(data, options);
              }
              </script>
              <!-- <script type="text/javascript" src="/javascript/buttons.js"></script> -->

              <!-- <p> {{ synopsis }}</p> -->
        </body>
</html>
