<html>
        <!-- <head> -->
        <link rel="stylesheet" type="text/css" href="css/book.css">

          <!-- <br>
            <a href= "/"> Go back to Homepage</a>
          <br>
        </head> -->
        <body>
              <br>
              <h1> {{ title }} </h1>
              <br>
              <center><img src="/img/{{ id }}.jpg" alt="{{ title }} Cover"></center>
              <br>
              <p> {{ author }} </p>
              <br>
              <p><a href = "/booklist">Go back</a></p>
              
              <!-- <p> {{ synopsis }}</p> -->
        </body>
</html>
