<html>
        <!-- <head> -->

          <!-- <br>
            <a href= "/"> Go back to Homepage</a>
          <br>
        </head> -->
        <body>
              <br>
              <h1> <a href = "/bookview?title={{title}}">{{ title }} </a></h1>
              <br>
              <center><a href = "/bookview?title={{title}}"><img src="/img/{{ id }}.jpg" alt="{{ title }} Cover"></a></center>
              <br>
              <p> {{ author }} </p>
              <br>
              <p> {{ synopsis }}</p>
        </body>
</html>
