<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="image_src" href="back-end/faveicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


    <link href="/css/cover.css" rel="stylesheet">
    <title>User Input</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo2.png"/>

  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">

          <h3 class="masthead-brand"> <a href="/">readSmart<a></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href = "/logout">Logout</a>
            <a class="nav-link" href="#">Items</a>
          </nav>
        </div>
      </header>

      <!-- <main role="main" class="inner cover"> -->
        <img src="/img/logo.png" alt="Logo">
          <label for="time" >How long did it take you to read {{ title }}?</label> <br/>
          <input class="form-control" type="number" name = "time" placeholder="In minutes"/>
          <input class="btn btn-primary" type="submit" value="Submit">

        </form>
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>readSmart&copy; Federick Gonzalez, Casey Mook, and Jaylen Patterson</p>

            </div>
          </footer>
  </div>

  </body>
</html>
